<div class="wrapper animated fadeInRight">
  <div class="row" style="height: 100%;">
    <div class="col-sm-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active" (click)="changeTab(false)"><a data-toggle="tab" href="#tab-1"><i class="fa fa-info"></i>
            基本条件分析</a></li>
          <li class="" (click)="changeTab(false)"><a data-toggle="tab" href="#tab-2"><i class="fa fa-rmb"></i>
            分析包含画像</a></li>
          <li class="" (click)="changeTab(false)"><a data-toggle="tab" href="#tab-3"><i class="fa fa-book"></i>
            典型画像特征</a></li>
          <li class="" (click)="changeTab(true)"><a data-toggle="tab" href="#tab-4"><i class="fa fa-book"></i>
            用户画像特征</a></li>
          <li class="" (click)="changeTab(false)"><a data-toggle="tab" href="#tab-5"><i class="fa fa-book"></i>
            智能用户画像分析结果</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">

            </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">

            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">
              <div class="clearfix">
                <div class="col-sm-12">
                  <span class="title-before pull-left"></span>
                  <h3 class="pull-left m-l-sm" style="font-size: 18px;">典型画像特征分布</h3>
                  <span class="pull-left m-l-sm m-t-xs">(备注:典型是指每个类目下超过平均值的特征)</span>
                </div>
                <div class="col-sm-12">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th class="text-center">画像所属一级分类</th>
                      <th class="text-center">画像所属二级分类</th>
                      <th class="text-center">画像所属三级分类</th>
                      <th class="text-center">关联人数</th>
                      <th class="text-center">所占比例</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" *ngFor="let item of arr">
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l0_rowspan" *ngIf="item.l0_rowspan > 0">
                        {{item.l0_name}}
                      </td>
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l1_rowspan" *ngIf="item.l1_rowspan > 0">
                        {{item.l1_name}}
                      </td>
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l2_rowspan">{{item.l2_name}}</td>
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l2_rowspan">{{item.l2_count}}</td>
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l2_rowspan">{{item.l2_rate}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-4" class="tab-pane">
            <div class="panel-body">
              <app-echars-info [isNow]="isEchart"></app-echars-info>
            </div>
          </div>
          <div id="tab-5" class="tab-pane">
            <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
