<div class="wrapper animated fadeInRight">
  <div class="row" style="height: 100%;">
    <div class="col-sm-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active" (click)="changeTab(1)"><a data-toggle="tab" href="#tab-1"><i class="fa fa-info"></i>
            基本条件分析</a></li>
          <li class="" (click)="changeTab(2)"><a data-toggle="tab" href="#tab-2"><i class="fa fa-rmb"></i>
            分析包含画像</a></li>
          <li class="" (click)="changeTab(3)"><a data-toggle="tab" href="#tab-3"><i class="fa fa-book"></i>
            典型画像特征</a></li>
          <li class="" (click)="changeTab(4)"><a data-toggle="tab" href="#tab-4"><i class="fa fa-book"></i>
            用户画像特征</a></li>
          <li class="" (click)="changeTab(5)"><a data-toggle="tab" href="#tab-5"><i class="fa fa-book"></i>
            智能用户画像分析结果</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
              <div class="clearfix">
                <div class="col-sm-12">
                  <span class="title-before pull-left"></span>
                  <h3 class="pull-left m-l-sm" style="font-size: 18px;">{{dataInfo?.name}}</h3>
                  <span class="pull-left m-l-sm m-t-xs" style="font-size: 15px;">{{dataInfo?.desc}}</span>
                </div>
                <div class="col-sm-12 m-t-md">
                  <div class="col-sm-4">
                    <h3>分析总人数</h3>
                    <p>近期有访问日志的用户</p>
                    <span class="label label-primary">人数： {{dataInfo?.total_user}}人</span>
                  </div>
                  <div class="col-sm-4">
                    <h3>分析条件</h3>
                    <p>可以自定义，后续会开放自助分析功能，敬请期待</p>
                    <p style="background-color: #1ab394;color: #FFFFFF;padding: 3px 8px;">筛选条件：{{dataInfo?.filter_name.join('、 ')}}</p>
                  </div>
                  <div class="col-sm-4">
                    <h3>匹配用户</h3>
                    <p>通过筛选条件匹配到的用户</p>
                    <span class="label label-primary">匹配人数：{{dataInfo?.filter_match_user_num}}人</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">
              <div *ngFor="let item of dataInfo?.feature_list; let k = index;">
                <div class="col-sm-12 m-t-md">
                  <span class="title-before pull-left" [style.background-color]="colors[k]"></span>
                  <h3 class="pull-left m-l-sm" style="font-size: 18px;">{{item.text}}</h3>
                </div>
                <div class="col-sm-12">
                  <h4 *ngFor="let subtext of item.subtexts;" class="col-sm-2"><span class="label"
                                                                                    [style.background-color]="colors[k]">{{subtext}}</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">
              <div class="clearfix">
                <div class="col-sm-12">
                  <span class="title-before pull-left"></span>
                  <h3 class="pull-left m-l-sm" style="font-size: 18px;">典型画像特征分布</h3>
                  <span class="pull-left m-l-sm m-t-xs">(备注:典型是指每个类目下超过平均值的特征)</span>
                </div>
                <div class="col-sm-12 m-t-md">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th class="text-center">画像所属一级分类</th>
                      <th class="text-center">画像所属二级分类</th>
                      <th class="text-center">画像所属三级分类</th>
                      <th class="text-center">关联人数</th>
                      <th class="text-center">所占比例</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" *ngFor="let item of dataInfo?.significant">
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l0_rowspan" *ngIf="item.l0_rowspan > 0">
                        {{item.l0_name}}
                      </td>
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l1_rowspan" *ngIf="item.l1_rowspan > 0">
                        {{item.l1_name}}
                      </td>
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l2_rowspan">{{item.l2_name}}</td>
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l2_rowspan">{{item.l2_count}}</td>
                      <td style="vertical-align: middle;" [attr.rowspan]="item.l2_rowspan">{{item.l2_rate}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-4" class="tab-pane">
            <div class="panel-body">
              <app-echars-info [isNow]="isEchart" [inputOpt]="echartOpt"></app-echars-info>
            </div>
          </div>
          <div id="tab-5" class="tab-pane">
            <div class="panel-body">
              <div class="clearfix">
                <div class="col-sm-6">
                  <span class="title-before pull-left"></span>
                  <h3 class="pull-left m-l-sm" style="font-size: 18px;">特征分类</h3>
                  <div class="col-sm-12">
                    <div class="m-t-sm">
                      <label class="pull-left m-t-sm m-r-md">节点搜索: </label>
                      <input type="text" class="form-control" style="width: 50%" #input
                             (keyup)="searchTree(input.value)">
                    </div>
                    <app-jstree-plugins #jsTreeRef (jsValueChange)="getTreeInfo($event)"></app-jstree-plugins>
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="treeInfo">
                  <span class="title-before pull-left"></span>
                  <h3 class="pull-left m-l-sm" style="font-size: 18px;">典型用户人群信息</h3>
                  <div class="col-sm-12">
                    <label class="control-label block">当前节点典型人群数:&nbsp;&nbsp;{{treeInfo.group_num}}</label>
                    <label class="control-label block">节点包含典型人群数:&nbsp;&nbsp;{{treeInfo.total_group_num}}</label>
                  </div>
                  <span class="title-before pull-left" style="margin-top: 20px !important;"></span>
                  <h3 class="pull-left m-l-sm m-t-md" style="font-size: 18px;">当前节点典型人群详情</h3>
                  <div class="col-sm-12">
                    <table class="table table-bordered m-t-md" *ngIf="treeInfo.group">
                      <thead>
                      <tr>
                        <th>群体特征</th>
                        <th>覆盖用户数量</th>
                        <th>所占比例</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of treeInfo.group">
                        <td>{{item.name}}</td>
                        <td>{{item.user_num}}</td>
                        <td>{{item.user_num_rate.toFixed(2)}}%</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading-plugins [showBlock]="isShowLoading"></app-loading-plugins>

