<div class="wapper">
  <div class="ibox">
    <div class="ibox-title m-b-lg">
      <div class="col-sm-12">
        <span class="title-before pull-left"></span>
        <h3 class="pull-left m-l-sm">分析概况</h3>
      </div>
      <div class="row">
        <form>
          <div class="col-sm-6 form-group text-center m-t-md">
            <p class="m-b-sm">用户总数</p>
            <h1>{{overview.totalUser}}</h1>
          </div>
          <div class="col-sm-6 form-group text-center m-t-md">
            <p class="m-b-sm">分析模版数</p>
            <h1>{{overview.templateNum}}</h1>
          </div>
        </form>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="clearfix m-b-md">
          <div class="col-sm-6">
            <span class="title-before pull-left"></span>
            <h3 class="pull-left m-l-sm">分析列表</h3>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-primary btn-sm pull-right" [routerLink]="['./new']"><i class="fa fa-plus m-r-sm"></i>新建分析</a>
          </div>
        </div>
      </div>
      <div>
        <app-datatable-plugins [inputOptions]="listOpt" #listRef></app-datatable-plugins>
      </div>
    </div>
  </div>
</div>
<app-loading-plugins [showBlock]="isShowLoading"></app-loading-plugins>
