<div class="ibox-content clearfix m-t-sm echart-info-component">
  <div class="col-sm-12" *ngFor="let item of data; let i = index;">
    <div class="form-group m-b-md">
      <span class="title-before pull-left"></span>
      <h2 class="pull-left m-l-sm" style="font-size: 20px;">{{item.title}}</h2>
    </div>
    <div class="form-group">
      <div class="clear-padding-right">
        <div class="ibox float-e-margins bg-color margin-bottom-15">
          <div class="ibox-content ibox-content-border bg-color remove-border-style">
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="{{j == 0 ? 'active' : ''}}" (click)="changeTab(service)" *ngFor="let service of item.services; let j = index;"><a href="#tab_" data-toggle="tab">{{service.name}}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active m-t-md" id="tab_" style="width: 90%; height: 500px;">
                  <div class="echarts">
                    <app-echarts #tab_ref [inputOptions]="{services: item.services}"></app-echarts>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
