<!--<bw-image-cropper-plugins #childRef [inputOptions]="{value:userInfo.userInfo.avatarUrl, cName:'update-avatarUrl'}"></bw-image-cropper-plugins>-->
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src=""/>
                             </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
                              class="font-bold">xxxxxx</strong>
                             </span> <span class="text-muted text-xs block">xxx<b
                              class="caret"></b></span> </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <!--<li><a>个人资料</a></li>-->
            <li><a (click)="onUpdatePassword()">修改密码</a></li>
            <!--<li (click)="updateImg()"><a>修改头像</a></li>-->
            <li class="divider"></li>
            <li><a (click)="onSignOut()">注销</a></li>
          </ul>
        </div>
        <div class="logo-element">
          心声
        </div>
      </li>
        <li class="sideRoutes">
          <a [routerLink]="'/portrait/portrait-manage'"><i class="fa"></i>
            <span class="nav-label">画像分析</span></a>
          <ul class="nav nav-second-level collapse">
          </ul>
        </li>
      <li class="sideRoutes">
        <a><i class="fa"></i>
          <span class="nav-label">画像库</span></a>
      </li>
      <li class="sideRoutes">
        <a><i class="fa"></i>
          <span class="nav-label">FAQ</span></a>
      </li>
    </ul>
  </div>
</nav>
