<!--<bw-image-cropper-plugins #childRef [inputOptions]="{value:userInfo.userInfo.avatarUrl, cName:'update-avatarUrl'}"></bw-image-cropper-plugins>-->
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="{{userInfo?.avatar}}"/>
                             </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
                              class="font-bold">{{userInfo?.name}}</strong>
                             </span>
                              <!--<span class="text-muted text-xs block">xxx<b-->
                              <!--class="caret"></b></span> -->
                            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li class="divider"></li>
            <li><a (click)="onSignOut()">注销</a></li>
          </ul>
        </div>
        <div class="logo-element">
          心声
        </div>
      </li>
        <li class="sideRoutes">
          <a class="color-white"><i class="fa"></i>
            <span class="nav-label">画像分析</span><span
              class='fa arrow'></span></a>
          <ul class="nav nav-second-level collapse">
            <ng-container *ngFor="let subRouting of routing; let idx = index;">
              <!--<li (click)="navRouter(subRouting.path)">-->
              <!--<li [attr.bw-router]="  subRouting.path" routerLinkActive="">-->
              <li>
                <a [routerLink]="'/'+subRouting.path" class="{{subRouting.sideColor}}" (click)="onClickSide(idx)">{{subRouting.display}}</a>
              </li>
            </ng-container>
          </ul>
        </li>
      <li class="sideRoutes">
        <a class="side_color"><i class="fa"></i>
          <span class="nav-label">画像库</span></a>
      </li>
      <li class="sideRoutes">
        <a class="side_color"><i class="fa"></i>
          <span class="nav-label">FAQ</span></a>
      </li>
    </ul>
  </div>
</nav>
